$my-text-color: #3D3D3D;
$my-background-color: #6D6D6D;

body {
  color: $my-text-color;
  background-color: $my-background-color; }

p {
  color: $my-text-color; }

h2 {
  background-color: $my-background-color; }
